@import url(http://fonts.googleapis.com/css?family=Exo);
body{
	/*
	font-family: 'Exo', Arial, sans-serif;
	font-weight: 400;
	*/
	background-color: #FFF !important;
}
#wrap, #time, #adminu, #admint{
	max-width:800px;
	width:90%;
	margin:auto;
}
#signfail, #logfail{
	color:red;
}
.fa-plus{
	font-size: 0.75em;
}
.skarm, .klart{
	font-family: 'Exo', Arial, sans-serif;
}
.skarm{
	color:#007ab2;
}
.klart{
	color:#00b139;
}
.formbody{
	width:75%;
	margin:auto;
}
#adm{
	
}
.adminfilter{
	width:20%;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
	background-color: #4285f4 !important;
}