@import url(http://fonts.googleapis.com/css?family=Exo);
body{
	/*
	font-family: 'Exo', Arial, sans-serif;
	font-weight: 400;
	*/
}
#wrap, #time, #adminu, #admint{
	max-width:800px;
	width:90%;
	margin:auto;
}
#signfail, #logfail{
	color:red;
}
.fa-plus{
	font-size: 0.75em;
}
.skarm, .klart{
	font-family: 'Exo', Arial, sans-serif;
}
.skarm{
	color:#007ab2;
}
.klart{
	color:#00b139;
}
#excelbody, #settingsbody{
	width:50%;
	margin:auto;
}
#adm{
	
}
.adminfilter{
	width:20%;
}