<div class="panel panel-default">
  <div class="panel-body">
  	<div class="formbody">
  	<h4>Type of report:</h4>
	  <label class="radio-inline">
	    <input type="radio" name="type" class="exceltype" id="type1" value="blank" checked ng-model="report.type">
	    Blank
	  </label>
	  <label class="radio-inline">
	    <input type="radio" disabled="true" name="type" class="exceltype" id="type2" value="additude" ng-model="report.type">
	    Additude
	  </label>
	<h4>Period:</h4>
	  <label class="radio-inline">
	    <input type="radio" name="period" class="excelperiod" id="period1" value="this" checked ng-model="report.period">
	    This month
	  </label>
	  <label class="radio-inline">
	    <input type="radio" name="period" class="excelperiod" id="period2" value="last" ng-model="report.period">
	    Last month
	  </label>
	  <br/>
	  <button class="btn btn-primary btn-raised" ng-click="getExcelReport(report)">Download</button>
	</div>
  </div>
</div>