<div class="panel panel-default">
  <div class="panel-body">
	  <div class="form-group">
	    <label>Email</label>
	    <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
	  </div>
	  <div class="form-group">
	    <label>Password</label>
	    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
	  </div>
	  <button class="btn btn-primary btn-block" ng-click="loginSubmit(user)">Login</button>
	  <div>{{error}}</div>
  </div>
</div>