<div class="panel panel-default">
  <div class="panel-body">
	  <table class="table table-striped table-hover table-condensed">
	  	<thead>
	  		<tr>
	  			<td ng-click="doSort('date')">
	  			<b>Date</b>
	  			</td>
	  			<td>
	  			<b>In</b>
	  			</td>
	  			<td>
	  			<b>Lunch (min)</b>
	  			</td>
	  			<td>
	  			<b>Out</b>
	  			</td>
	  			<td ng-click="doSort('tot')">
	  			<b>Hours worked</b>
	  			</td>
	  		</tr>
	  	</thead>
	  	<tbody>
	  	<tr ng-repeat="day in month | orderBy:sortBy:reverse | paginationFilter: currentPage*itemsPerPage | limitTo: itemsPerPage">
			<td><b>{{ day.date | date: 'yyyy-MM-dd' }}</b></td>
			<td>{{ day.inh }}.{{ day.inm }} </td>
			<td>{{ day.lunch }} </td>
			<td>{{ day.outh }}.{{ day.outm }} </td>
			<td><b>{{ day.tot }}</b></td>
	  	</tr>
	  	<tr>
	  		<td></td>
	  		<td></td>
	  		<td></td>
	  		<td><b>Total:</b></td>
	  		<td><b>{{ total }}</b></td>
	  	</tr>
	  </tbody>
	  <tfoot>
		<td colspan="5">
			<div>
				<ul class="pagination">
					<li ng-class="prevPageDisabled()">
					<a href ng-click="prevPage()">« Prev</a>
					</li>
					<li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
					<a href="">{{n+1}}</a>
					</li>
					<li ng-class="nextPageDisabled()">
					<a href ng-click="nextPage()">Next »</a>
					</li>
				</ul>
			</div>
		</td>
		</tfoot>
	  </table>
  </div>
</div>