<div class="panel panel-default">
	  <div class="panel-body">
  		<table class="table table-condensed" ng-hide="total">
  			<thead>
  				<tr>
  					<td>
  						In
  					</td>
  					<td>
  						Lunch(min)
  					</td>
  					<td>
  						Out
  					</td>
  					<td>
  					</td>
  				</tr>
  			</thead>
  			<tbody>
  				<tr>
  					<td>
  					<form class="form-inline" role="form">
			  		<select class="form-control" id="inh" ng-model="time.inh">
			  			<option>--</option>
					    <option value="0">00</option>
					    <option value="1">01</option>
					    <option value="2">02</option>
					    <option value="3">03</option>
					    <option value="4">04</option>
					    <option value="5">05</option>
					    <option value="6">06</option>
					    <option value="7">07</option>
					    <option value="8">08</option>
					    <option value="9">09</option>
					    <option value="10">10</option>
					    <option value="11">11</option>
					    <option value="12">12</option>
					    <option value="13">13</option>
					    <option value="14">14</option>
					    <option value="15">15</option>
					    <option value="16">16</option>
					    <option value="17">17</option>
					    <option value="18">18</option>
					    <option value="19">19</option>
					    <option value="20">20</option>
					    <option value="21">21</option>
					    <option value="22">22</option>
					    <option value="23">23</option>
					</select>
					<select class="form-control" id="inm" ng-model="time.inm">
						<option>--</option>
					    <option value="0">00</option>
					    <option value="5">05</option>
					    <option value="10">10</option>
					    <option value="15">15</option>
					    <option value="20">20</option>
					    <option value="25">25</option>
					    <option value="30">30</option>
					    <option value="35">35</option>
					    <option value="40">40</option>
					    <option value="45">45</option>
					    <option value="50">50</option>
					    <option value="55">55</option>
					    <option value="60">60</option>
					</select>
					</form>
  					</td>
  					<td>
  					<select class="form-control" id="lunch" ng-model="time.lunch">
  						<option>--</option>
					    <option value="0">00</option>
					    <option value="5">05</option>
					    <option value="10">10</option>
					    <option value="15">15</option>
					    <option value="20">20</option>
					    <option value="25">25</option>
					    <option value="30">30</option>
					    <option value="35">35</option>
					    <option value="40">40</option>
					    <option value="45">45</option>
					    <option value="50">50</option>
					    <option value="55">55</option>
					    <option value="60">60</option>
					</select>
  					</td>
  					<td>
  						<form class="form-inline" role="form">
  						<select class="form-control" id="uth" ng-model="time.uth">
  						<option>--</option>
					    <option value="0">00</option>
					    <option value="1">01</option>
					    <option value="2">02</option>
					    <option value="3">03</option>
					    <option value="4">04</option>
					    <option value="5">05</option>
					    <option value="6">06</option>
					    <option value="7">07</option>
					    <option value="8">08</option>
					    <option value="9">09</option>
					    <option value="10">10</option>
					    <option value="11">11</option>
					    <option value="12">12</option>
					    <option value="13">13</option>
					    <option value="14">14</option>
					    <option value="15">15</option>
					    <option value="16">16</option>
					    <option value="17">17</option>
					    <option value="18">18</option>
					    <option value="19">19</option>
					    <option value="20">20</option>
					    <option value="21">21</option>
					    <option value="22">22</option>
					    <option value="23">23</option>
					</select>
					<select class="form-control" id="utm" ng-model="time.utm">
						<option>--</option>
					    <option value="0">00</option>
					    <option value="5">05</option>
					    <option value="10">10</option>
					    <option value="15">15</option>
					    <option value="20">20</option>
					    <option value="25">25</option>
					    <option value="30">30</option>
					    <option value="35">35</option>
					    <option value="40">40</option>
					    <option value="45">45</option>
					    <option value="50">50</option>
					    <option value="55">55</option>
					    <option value="60">60</option>
					</select>
					</form>
  					</td>
  					<td>
  					<button class="btn btn-primary btn-raised" ng-click="calculateToday(time)">Save</button>
  					</td>
  				</tr>
  			</tbody>
  		</table>
  		<div "#calc" ng-show="total">You have worked {{ total }} hours today.</div>
	  </div>
	</div>
</div>